.event-box>div {
    background: rgb(179, 148, 139);
}

.event-box>div:nth-child(odd) {
    background: #e6b799;
}

.content {
    width: 100%;
    min-height: 84vh;
    height: auto;
    background: rgb(153, 71, 0);
}

.content-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1em;
    border-style: solid;
    border-color: white;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style: none;
}

input:disabled::placeholder {
    text-decoration: line-through;
}