.eventbox > div {
    background: rgb(179, 148, 139);
}

.eventbox > div:nth-child(odd){
    background: #e6b799;
}

.content {
    width: 100%;
    min-height: 84vh; 
    height: auto;
    background:rgb(153, 71, 0);
}
.contentbody {
    display: flex;    
    flex-direction: column;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style: none;
}