.Header-p {
    width: 100%;
    height: 15Vh;
    background: white;
    display: flex;
}

.Header-content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
}   

.family {
  display: flex;
  color: rgb(153, 71, 0);
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
}

h1 {
  color: white;
}

.eventbox  {
  color: rgb(153, 71, 0);
}